.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
  text-align: center;
 word-spacing: 0.2em;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
