.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
  text-align: center;
 word-spacing: 0.2em;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.save_button{
 
  background: none!important;
  border: none;
  padding-top: 10px;
  padding: 0!important;
   color: rgb(71, 61, 40);
   font-size: 15px;
  text-decoration: underline;
  cursor: pointer;

}
.side_list{
list-style: none;
}
#b_button{
  text-align: center;
  color: rgb(32, 29, 29);
  height: 40px;
  width: 100px;
  border-radius: 20px;
 
}

.bottomButton{
  display:flex;
  flex:1;
  justify-content: space-evenly;
  }
  body{
    background-color:#9497A7;
    padding: 100px;
    margin:0 auto;
    align-content: center;
 
  }
  
  .App {
    border: 2px solid #9497A7;
    border-radius: 15px;
    padding: 0px;
    margin: 0 auto;
    align-content: center;
  }
  
  .App > div{
    padding: 1em; 
  }
  
  .App{
    display: grid;
    grid-template-columns: 400px 390px 200px;
    grid-template-rows: 120px 370px 100px ;
    height: 670px;
    width:1000px;
    grid-gap:0px;
    grid-template-areas: 
    "a b b"
    "a b b "
    "a c c"
    ;
   
  }
  .div1 {
    grid-area: a;
    background-color: #545871;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    Color: whitesmoke;
  }
  .div2 {
    grid-area: b;
    background-color: #E9D8DA;
    border-top-right-radius: 10px;
  }
  .div3 {
    grid-area: c;
    background-color: white;
    border-bottom-right-radius: 10px;
  }